.seccion-logo {
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #FFFFFF;
}

.seccion-logo__logo {
    width: 100%;
    margin: 2% auto;
}

@media screen and (min-width: 1024px) {
    .seccion-logo {
        display: flex;
        width: 50vw;
        height: 100vh;

    }
    .seccion-logo__logo {
        margin: auto 15%;
        width: 70%;
        align-items: center;
    }
}

@media screen and (min-width: 1268px) {
    .seccion-logo {
        display: flex;
        width: 50vw;
        height: 100vh;

    }
    .seccion-logo__logo {
        margin: auto 15%;
        width: 70%;
        align-items: center;
    }
}