.head-enlace {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    height: 2.5em;
    border-bottom: #FFFFFF solid 0.3rem;

}

.head-enlace-btn {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    height: 110%;
}

.head-enlace-btn:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #0A3871;
}

.head-enlace-btn-seleccionado {
    background-color: #FFFFFF;
    color: #0A3871;
    font-weight: bold;
}

.head-enlace-btn:active {
    background-color: aqua;
}

@media screen and (min-width: 1024px) {
    .head-enlace {
        margin: 5% .5%;
        width: 88%;
    }

    .head-enlace-btn {
        margin: 0;
    }
}

@media screen and (min-width: 1268px) {
    .head-enlace {
        margin: 5%;
        width: 90%;
    }
    .head-enlace-btn {
        font-size: 1.5rem;
        height: 100%;
        width: max-content;
    }
}