.productos {
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    height: 75vh;
    justify-content: space-around;
    
}

.productos::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
.productos::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
.productos::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(98, 99, 100);
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}
.producto {
    width: 40%;
    margin: 5%;
}